# Dependency directories
node_modules/

.env
# dummy-ref is a local file for us to format the user info in the predicted form by the front-end.
dummy-ref.json
# raw-ref is a local file for us to view the raw data scheme.
raw-ref.json
